.subheader {
  height: 102px;
  width: 100%;
  background-color: #dedede;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.add-new-button {
  border-radius: 20px;
  height: 40px;
  width: 115px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
