.modal-delete-content {
    border-radius: 10px;
  }
  
  .modal-delete-dialog {
    height: 171px;
    width: 363px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .message-title {
    color: #7f8c8d;
    font-family: ".SF NS Display";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .user-name {
    color: #34495e;
    font-family: ".SF NS Display";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  button {
    height: 40px;
    width: 160px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  
  