.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  width: 300px; /* Adjust the width as needed */
  transition: opacity 0.5s;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert .btn-close {
  position: absolute;
  top: 15px;
  right: 10px;
}
